.change_password {
  display: flex;
  justify-content: center;
  font-size: 18px;
  padding: 0 50px;
  background-color: #fff;
  height: 100%;
}
.change_password-nav {
  border-bottom: 1px #ccc solid;
}
.change_password-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.ant-form-vertical .ant-form-item-label {
  padding: 0;
}
.inputField {
  width: 400px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  box-shadow: none !important;
  padding: 0;
}
.changepassword-form-button {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
}