.form--password__change {
  font-size: 18px;
  padding: 224px !important;
}
::placeholder {
  font-size: 18px;
  color: black !important;
}
.input--password {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  color: 'black';
}
.btn {
  font-size: 16px;
  border: none;
  border-radius: 0;
  background-color: black;
}
