.appBg{
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.inputField {
  width: 638px;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  box-shadow: none !important;
}
.changepassword-form-button {
  background-color: #000;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
}