*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.appBg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signin-form {
  height: 400px;
  padding: 20px;
  /* border: 1px solid black; */
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.signup_form{
  width: 400px;
  height: 400px;
  padding: 20px;
  /* border: 1px solid black; */
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.formItem {
    position: relative;
}

.formItem label {
    position: absolute;
    padding-bottom: 0;
}

.formItem .inputField {
  padding: 0 11px;
  /* outline: none; */
  box-shadow: none;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
}

.checkRemember{
    border-radius: 0;
}

.login-form-button {
  width: 100%;
  border-radius: 0;
  background-color: black;
}

.create-account {
  display: flex;
  align-items: center;
  justify-content: center;
}

.create-account h2{
  color: black;
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register a {
  text-decoration: dashed;
}
