* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2px 40px;
}

.left-nav {
  
    border-bottom: none;
   
}

.search-field {
    border-radius: 0;
    border: 0;
    /* border-bottom: 1px solid lightblue; */
    box-shadow: none;
}

.ant-menu-item{
  color: black;
}

/* .ant-menu-item:hover {
    border-bottom: none !important;
    outline: none;
    box-shadow: none;
}

.ant-menu-item:focus {
    outline: none;
} */

/* .ant-menu-title-content {
    color: black;
} */


.right-nav {
    border-bottom: 0;
    width: 25%;
}
/*  */

.ant-menu-item::after,
.ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
  color: black;
}
