* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
  
}

.left-nav {
    /* width: fit-content; */
    border-bottom: none;
}

.search-field {
    border-radius: 0;
    border: 0;
    /* border-bottom: 1px solid lightblue; */
}

.ant-menu-item{
  color: black;
}

/* .ant-menu-title-content {
    color: black;
} */


.right-nav {
    border-bottom: 0;
    /* width: fit-content; */
    
}
/* 
.right-nav >.ant-menu-item::after,
.right-nav >.ant-menu-submenu::after {
  border-bottom: none !important;
  transition: none !important;
  color: black;
} */
